---

- name: Fail if required Vaultwarden settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) for using this role.
  when: "vars[item] == ''"
  with_items:
    - devture_vaultwarden_server_fqn
    - devture_vaultwarden_generic_secret_key
    - devture_vaultwarden_uid
    - devture_vaultwarden_gid

- name: Fail if required Vaultwarden + Postgres integration settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) when `devture_vaultwarden_database_type` is `postgres`
  when: "devture_vaultwarden_database_type == 'postgres' and vars[item] == ''"
  with_items:
    - devture_vaultwarden_database_username
    - devture_vaultwarden_database_password

- name: Fail if required Vaultwarden + Traefik integration settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) when `devture_vaultwarden_container_labels_traefik_enabled`
  when: "devture_vaultwarden_container_labels_traefik_enabled | bool and vars[item] == ''"
  with_items:
    - devture_vaultwarden_container_labels_traefik_docker_network
